<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account details</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> TypeofAccount: <%=account.typeofAccount%>
      <br> Branch: <%=account.branch%>
      <br> DateOpened: <%=account.dateOpened%>
      <br> AccountBalance: <%=account.accountBalance%>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>