<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here </h3>
      <br>

      <h2>User</h2>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://bankservices02.herokuapp.com/user/findall">/user/findall</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/user/findone/101">/user/findone/101</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/user/findone/92">/user/findone/92</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/user/findone/93">/user/findone/93</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/user/findone/94">/user/findone/94</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://bankservices02.herokuapp.com/user">/user</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/create">/user/create</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/user/edit/101">/user/edit/101</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/edit/92">/user/edit/92</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/edit/93">/user/edit/93</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/user/delete/101">/user/delete/101</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/delete/92">/user/delete/92</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/delete/93">/user/delete/93</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/user/details/101">/user/details/101</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/details/92">/user/details/92</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/user/details/93">/user/details/93</a>
        </li>

      </ol>


      <br>
      <h2>Account</h2>

      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://bankservices02.herokuapp.com/account/findall">/account/findall</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/account/findone/123456">/account/findone/123456</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/account/findone/1001">/account/findone/1001</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/account/findone/1002">/account/findone/1002</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/account/findone/1003">/account/findone/1003</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://bankservices02.herokuapp.com/account">/account</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/create">/account/create</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/account/edit/123456">/account/edit/123456</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/edit/1001">/account/edit/1001</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/edit/1002">/account/edit/1002</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/account/delete/123456">/account/delete/123456</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/delete/1001">/account/delete/1001</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/delete/1002">/account/delete/1002</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/account/details/123456">/account/details/123456</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/details/1001">/account/details/1001</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/account/details/1002">/account/details/1002</a>
        </li>

      </ol>


      <br>
      <h2>Transaction</h2>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://bankservices02.herokuapp.com/transaction/findall">/transaction/findall</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/transaction/findone/101">/transaction/findone/101</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/transaction/findone/102">/transaction/findone/102</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/transaction/findone/103">/transaction/findone/103</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/transaction/findone/911">/transaction/findone/911</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction">/transaction</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/create">/transaction/create</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/edit/101">/transaction/edit/101</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/edit/102">/transaction/edit/102</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/edit/103">/transaction/edit/103</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/edit/911">/transaction/edit/911</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/delete/101">/transaction/delete/101</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/delete/102">/transaction/delete/102</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/delete/103">/transaction/delete/103</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/delete/911">/transaction/delete/911</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/details/101">/transaction/details/101</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/details/102">/transaction/details/102</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/details/103">/transaction/details/103</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/transaction/details/911">/transaction/details/911</a>
        </li>

      </ol>


      <br>
      <h2>Category</h2>
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://bankservices02.herokuapp.com/category/findall">/category/findall</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/category/findone/10">/category/findone/10</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/category/findone/12">/category/findone/12</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/category/findone/20">/category/findone/20</a>
        </li>
        <li> <a href="http://bankservices02.herokuapp.com/category/findone/22">/category/findone/22</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://bankservices02.herokuapp.com/category">/category</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/create">/category/create</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/category/edit/10">/category/edit/10</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/edit/12">/category/edit/12</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/edit/20">/category/edit/20</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/category/delete/10">/category/delete/10</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/delete/12">/category/delete/12</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/delete/20">/category/delete/20</a>
        </li>

        <li>
          <a href="http://bankservices02.herokuapp.com/category/details/10">/category/details/10</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/details/12">/category/details/12</a>
        </li>
        <li>
          <a href="http://bankservices02.herokuapp.com/category/details/20">/category/details/20</a>
        </li>

      </ol>


    </div>
  </div>
</div>