<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of user</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> Email: <%=user.email%>
      <br> UserAccountNumber: <%=user.userAccountNumber%>
      <br> UserBalance: <%=user.userBalance%>
      <br> Address: <%=user.address%>
      <br> City: <%=user.city %>
      <br> State: <%=user.state %>
      <br> Zip: <%=user.zip %>
      <br> Country: <%=user.country %>
      <hr>
      
      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/user/delete/<%= user._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>