<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Nithya Vudayamaarri </h1>
      <h2> I sam a new member of the Spring Batch working on my Masters of Applied Computer Science.

        I completed my Under Graduation in 2018 May from a reputed college named Gokaraju Rangaraju Institute of Technology and Sciences from Mechanical Engineering branch. My home town is Warangal a well known place in Telangana. I have no Experience. My hobbies are reading books.
        
        I want to start a startup company and serve society with my new ideas.
        
        I am always interested in new technologies  and applications
        
        linkedin profile:https://www.linkedin.com/in/vudayamarri-nithya-1b9612168/Links to an external site.
        
        github profile :https://bitbucket.org/NithyaVudayamarri/Links to an external site. </h2>

      <br>
      <br>
    </div>
  </div>
</div>