<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of transaction</h2>
      <br>
      <br> ID: <%=  transaction._id %>
      <br> transactionID: <%=transaction.transactionID%>
      <br> transactionInitiatedDate: <%=transaction.transactionInitiatedDate%>
      <br> transactionFinal: <%=transaction.transactionFinal%>
      <br> paymentType: <%=transaction.paymentType%>
      <br> paid:<%=transaction.paid%>

      <hr>
      
      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/transaction/delete/<%= transaction._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>