<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Anusha Kalyankar </h1>
      <h2> I am from Hyderabad,Telangana, India. I did my schooling from Neo Royal High School and graduated from Bhoj Reddy Engineering College for Women, Electrical and Electronics Engineering(EEE) as major in the year 2015.My hobbies are playing badminton,travelling to places I haven't been before.In India, I have travelled tourist and pilgrim places in Tamil Nadu,Kerala,Maharastra and Andhra Pradesh.
        I am interested in working as a software engineer in the IT field and extend my knowledge applying it in the real world and understanding the implementation of the concepts that I have in my academics for creating applications. I am interested in the current technology that is new and in use like cloud computing,machine learning,artificial intelligence and automation.</h2>

      

      <br>
      <br>
    </div>
  </div>
</div>