<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Lahari Thamatam </h1>
      <h2> I am currently in my first semester doing my Masters in Applied Computer Science and will be graduating in 2020.
           I am from Tirupati,India.I completed my undergraduation in Computer Science from Sathyabama Institute of Science and Technology.My hobbies are listening music and playing games.
           Coming to my career plans I want to work as an Program Developer.
           Here is the link 
            https://github.com/Thamatamlahari 
            https://bitbucket.org/lahari1214/
     <br>
    </div>
  </div>
</div>